{% load static %}

{% block body %}

{% include 'navigation.html' %}




<!--datable start -->
<script>
$(document).ready(function() {
$('#example').DataTable( {
    dom: 'Bfrtip',
    buttons: [
        'copyHtml5',
        'excelHtml5',
        'csvHtml5',
        'pdfHtml5'
    ]
} );
} );
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<!-- datatable end-->



<style>
tr{text-align : center}
</style>
<marquee style = "font-family : 'Monotype Corsiva' ; font-size : 25px ; color : darkcyan ; background-color : black ; font-weight : bold ; margin-top:1%">
    Job Listings from Internshala
</marquee>
<hr>
<div class="container">
<table class="table table-hover" id="example">
           <thead>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>CTC</th>
                <th>Experience</th>
                <th>Posted Date</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td><a href="https://internshala.com{{ job.url }}" target="_blank">{{ job.title }}</a></td>
                    <td>{{ job.company }}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.start_date }}</td>
                    <td>{{ job.ctc }}</td>
                    <td>{{ job.experience }}</td>
                    <td>{{ job.posted_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No job listings found.</td>
                </tr>
            {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}